@font-face {
    font-family: greyqo;
    src: url(GreyQo-Regular.ttf);
}

@font-face {
    font-family: poppins;
    src: url(Poppins/Poppins-Regular.ttf);
}

.hero-img1::before {
    content: '';
    position: absolute;
    top: 0;
    height: 0;
    width: 100%;
    height: 100%;
    background-image: url(galeri/wedding-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: grayscale(100%);
    z-index: -1;
}

.container {
    display: grid;
    place-content: center;
    width: 100vw;
    height: 100vh;
}

h1 {
    font-family: greyqo;
    font-size: 6rem;
    text-shadow: 2px 2px 1px black;
}

h5, p {
    font-family: poppins;
    text-shadow: 1px 1px 1px black;
}

.btn {
    font-family: poppins;
    width: 25%;
    place-self: center;
    box-shadow: 5px 5px;
    color: rgb(243, 105, 194);
}

.hari, .jam, .menit, .detik {
    background-color:rgb(243, 105, 194);
    width: 100px;
    height: 100px;
    box-shadow: 1px 1px 1px black;
    font-family: poppins;
}

/* .hero-img1::before {
    content: '';
    position: absolute;
    top: 0;
    height: 0;
    width: 100vw;
    height: 100vh;
    background-image: url(galeri/wedding-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    filter: grayscale(100%);
    z-index: -1;
} */

@media (max-width: 992px) {
    html {
        font-size: 75%;
    }

    .hari, .jam, .menit, .detik {
        background-color:rgb(243, 105, 194);
        width: 75px;
        height: 75px;
        box-shadow: 1px 1px 1px black;
        font-family: poppins;
    }
}

@media (max-width: 768px) {
    html {
        font-size: 65%;
    }

    .hari, .jam, .menit, .detik {
        background-color:rgb(243, 105, 194);
        width: 65px;
        height: 65px;
        box-shadow: 1px 1px 1px black;
        font-family: poppins;
    }
}

@media (max-width: 576px) {
    html {
        font-size: 60%;
    }

    .hari, .jam, .menit, .detik {
        background-color:rgb(243, 105, 194);
        width: 60px;
        height: 60px;
        box-shadow: 1px 1px 1px black;
        font-family: poppins;
    }
}